@font-face {
  font-family: 'normal-font';
  src: url("../fonts/FiraSans-Regular.ttf") format('truetype');


@font-face {
  font-family: 'bold-font';
  font-weight: 900;
  src: url("../fonts/FiraSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'italic-font';
  src: url("../fonts/FiraSans-Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'emoji-font';
  src: url("../fonts/NotoEmoji-Regular.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-family: bold-font;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: normal-font, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--body-foreground-color);
  background-color: var(--body-background-color);
}

.container {
  margin: 0em;
  padding: 0em;
  height: 100%;
  width: 100%;
  min-width: 65em;
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-top: 0em;
  flex: 1;
  display: flex;
  flex-direction: row;
}

@page {
  margin: 1em;
}


/* Header styles */

.header {
  display: flex;
  flex-direction: row;
  height: 9em;
  width: 100%;
  background-color: var(--header-background-color);
  border-bottom: 2px solid black;
}

.header-photo {
  display: flex;
}

.header-photo img {
  display: flex;
  margin-top: 0.5em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  height: 130%;
  width: auto;
  z-index: 20;
  border: 0.5em solid white;
  filter: drop-shadow(0px 0px 0.5em black);
}

.header-info {
  display: flex;
  flex-direction: column;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.header-info h1 {
  font-family: bold-font;
  display: flex;
  margin-top: 0.25em;
  margin-bottom: 0.1em;
  padding-top: 0.1em;
  font-size: 1.75em;
  color: var(--header-title-color);
}

.contact_list {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-top: 0em;
  margin-top: 0em;
}

.contact_list ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-left: 0em;
  margin-left: 0em;
}

.contact_list li:not(:last-child){
  padding-right: 0.75em;
  margin-right: 0.75em;
  border-right: 1px solid;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact p {
  display: flex;
  padding-right: 0.5em;
  font-size: 5em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size:  0.75em;
  font-family: emoji-font;
}

.contact a {
  display: flex;
  align-items: center;
  font-size:  0.75em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: var(--header-link-color);
}

.summary p {
  display: flex;
  margin-top: 0.1em;
  font-size:  0.75em;
  font-family: italic-font;
  color: var(--header-text-color);
}

.header a {
  color: var(--header-link-color);
}


/* Sidebar styles */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding-top: 3em;
  padding-left: 0.5em;
  padding-right: 1em;
  background-color: var(--sidebar-background-color);
}


.sidebar h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 1.25em;
  color: var(--sidebar-heading-color);
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0em;
  margin-left: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: var(--sidebar-text-color);
}

.sidebar li+li {
  margin-top: 0.75em;
}

.sidebar ul+h2 {
  margin-top: 2.0em;
}

.sidebar a {
  color: var(--sidebar-link-color);
}


/* Main styles */

.main {
  flex: 1;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: var(--main-background-color);
}

.main h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 1.25em;
  color: var(--main-title-color);
}

.main h3 {
  margin-top: 0.0em;
  margin-bottom: 0.1em;
  font-size: 1.0em;
  color: var(--main-heading-color);
}

.main h4 {
  margin-top: 0.0em;
  margin-bottom: 0.5em;
  font-family: bold-font;
  font-size: 0.75em;
  color: var(--main-subheading-color);
}

.main ul {
  margin-top: 0.0em;
  padding-left: 0.75em;
  list-style-type: "\2771\00a0";
  list-style-position: outside;
  color: var(--main-text-color);
}

.main li {
  font-size:  0.7em;
}

.main ul+h2 {
  margin-top: 1.0em;
}

.main a {
  color: var(--main-link-color);
}
