a {
  color: var(--seattle-blue2);
}

h1 {
  color: var(--seattle-orange);
}

h2 {
  color: var(--seattle-green2);
}

h3 {
  color: var(--seattle-yellow1);
}

body {
  color: var(--seattle-light);
  background-color: var(--seattle-dark2);
}
