:root {
  /* Seattle Night Palette */
  --night-dark1: #000000;
  --night-dark2: #242844;
  --night-red: #7A1F36;
  --night-green1: #36948C;
  --night-green2: #B5E2DB;
  --night-brown: #726D59;
  --night-orange: #D8841A;
  --night-blue1: #3B61C3;
  --night-pink: #CE55BF;
  --night-blue2: #4387ED;
  --night-gray: #9081B6;
  --night-yellow1: #C0B18C;
  --night-yellow2: #F1F071;
  --night-light: #FFFEF8;
}

a {
  color: var(--night-blue2);
}

h1 {
  color: var(--night-orange);
}

h2 {
  color: var(--night-green2);
}

h3 {
  color: var(--night-yellow1);
}

body {
  color: var(--night-light);
  background-color: var(--night-dark2);
}
