@font-face {
  font-family: 'FiraSans';
  src: url("FiraSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'FiraSansBold';
  font-weight: 900;
  src: url("FiraSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'NotoEmoji';
  font-style: normal;
  src: url("NotoEmoji-Regular.ttf") format('truetype');
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: FiraSansBold;
  margin-bottom: 0.1em;
  font-size: 1.5em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.1em;
  font-size: 1.2em;
}

h2 + ul {
  margin-top: 0.0em;
}

h3 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 1.0em;
}

h3 + ul {
  margin-top: 0.0em;
}

ul + h3 {
  margin-top: 0.5em;
}

h4 {
  font-family: FiraSansBold;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 0.75em;
}

h4 + ul {
  margin-top: 0.0em;
}

.header p {
  margin-top: 0.1em;
  font-size:  0.75em;
}

li {
  padding-left: 0.0em;
}

.main li {
  font-size:  0.6em;
}

.main ul {
  padding-left: 0.75em;
  list-style-type: "\2771\00a0";
  list-style-position: outside;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-top: 0.4em;
}

strong {
  font-family: FiraSansBold;
}

body {
  font-family: FiraSans, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.emoji {
  font-family: NotoEmoji;
}

.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 0em;
}

.bottom {
  margin-top: 0em;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 13em;
  box-sizing: border-box;
  position: fixed;
}

.main {
  flex: 1;
  margin-left: 14em;
  text-align: justify;
}

@page {
  margin: 1em;
}
